@model ProductVM
@*@model BulkyWeb.Models.Product or move _ViewImports.cshtml  if its the last commit and  error bcz it doesnot know where is the category as its defined in the _ViewImports.cshtml *@

@* bcz we need whole categry for this view  *@

<form method="post" class="row" enctype="multipart/form-data">          @* enctype="multipart/form-data" is used for uploading the image otherwise it won't work*@
    <div class="border p-3 my-4">
        <div class="row pb-2">
            <h2 class="text-primary"> @(Model.Product.Id!=0?"Update":"Create")Create Product</h2>
            <hr/>
        </div>
        @* for all validation summary below line is used *@
        <div asp-validation-summary="All"></div>
        @* for model only validation summary below line is used *@
        <div asp-validation-summary="ModelOnly"></div>

        @* <input asp-for="Product.Id" hidden/> *@
<input asp-for="Product.ImageUrl" hidden/>
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
                <div class="border p-3"></div>
                <img src="@Model.Product.ImageUrl" width="100%" style="border-radius: 5px;border:1px solid white;"/>
            </div>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Title" class="p-0"></label>   @* same for label no need to define  <label  class="p-0">Name</label>*@
            <input asp-for="Product.Title" class="form-control" />  @*no need of type attribute bcz asp-for=Name where Name is the Name in the Product so it will know what type it is*@
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Description" class="p-0"></label>  @* used Display Order bcz no space was there in asp-for="DisplayOrder" *@
            <textarea asp-for="Product.Description" class="form-control" ></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.ISBN" class="p-0"></label>  @* used Display Order bcz no space was there in asp-for="DisplayOrder" *@
            <input asp-for="Product.ISBN" class="form-control" />
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Author" class="p-0"></label>  @* used Display Order bcz no space was there in asp-for="DisplayOrder" *@
            <input asp-for="Product.Author" class="form-control" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div> 
        <div class="mb-3 row p-1">
            <label asp-for="Product.ListPrice" class="p-0"></label>  @* used Display Order bcz no space was there in asp-for="DisplayOrder" *@
            <input asp-for="Product.ListPrice" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price" class="p-0"></label>  @* used Display Order bcz no space was there in asp-for="DisplayOrder" *@
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price50" class="p-0"></label>  @* used Display Order bcz no space was there in asp-for="DisplayOrder" *@
            <input asp-for="Product.Price50" class="form-control" />
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price100" class="p-0"></label>  @* used Display Order bcz no space was there in asp-for="DisplayOrder" *@
            <input asp-for="Product.Price100" class="form-control" />
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
        </div>
        Using ViewModel
        <div class="mb-3 row p-1">
            <label asp-for="Product.CategoryId" class="p-0"></label> @* used Display Order bcz no space was there in asp-for="DisplayOrder" *@

            <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                @* ViewBag name should be same*@
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>

       <div class="mb-3 row p-1">
            <label asp-for="Product.ImageUrl" class="p-0"></label>  @* used Display Order bcz no space was there in asp-for="DisplayOrder" *@
            <input type="file" name="file" asp-for="Product.ImageUrl" class="form-control" />   @* name="file" is used for uploading the image otherwise it won't work *@
            <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                @if(Model.Product.Id!=0)
                {
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                }
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border  form-control">
                    Back to List
                </a>
            </div>
        </div>
        
       
    </div>
</form>
@* if we add this the browser will itself validate the for i.e. client side without going to the server and all the conditions are checked which 
are defined in the Model not the controller hence it does not check for same value in both fieds as it is defined in the controller
if we add the below code in the _Layout.cshtml then we dont have to add it in every view  *@
@section Scripts{
    {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
<partial name="_ValidationScriptsPartial" /> @* this is used for validation and this is script related so we have to add the partial view here 
    otherwise we could have added it in the _Layout.cshtml but we have to add it in every view so we have created a partial view for it and added it here
*@
}
}
